<div class="container">
    <div class="textHolder">
        <h1 class="commissionText">
            COMMISSION EARNED: <span id="comm" class="numberCommission">12</span>
        </h1>
        <h1 class="quotaText">
            TOTAL MONTHLY QUOTA: <span id="quota" class="numberQuota">{{userDetails[0].quota}}</span>
        </h1>
        <h1 class="quotaText">
            QUOTA ACCOMPLISHED TILL NOW: <span id="quota" class="numberQuotaAcc">{{userDetails[0].tsales}}</span>
        </h1>
    </div>
    <div class="chart">
        <canvas baseChart
                [data]="pieChartData"
                [type]="pieChartType"
                [options]="pieChartOptions">
        </canvas>
      </div>
      
</div>
