a{
    color: white;
    text-decoration: none;
    padding: 0.8em;
}
.navDiv{
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-between;
    width: 100%;
}
mat-toolbar{
    background-color: #616161;
}
.historyText:hover{
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}
.logoutText:hover{
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}
